<section id="about" class="three">
  <div class="container">

    <img src="/static/img/artintro.jpeg" alt="">
    <header>
      <h2>	
        &#8220;&emsp;
        <a class="scrolly"> Art </a>
      &emsp;&#8222;</h2>
      <br/>
      <h1>
        ' 작가의 생애' 와 ' 미술작품 ' <br/>
        입찰가격 간의 상관관계 분석<br/>
        <br/>그리고,<br/><br/>
        우리나라에 열린 전시회들 중 <br/>
        가장 많은 관람객이 오고간 전시회 데이터 분석
      </h1>
      <br/>
    </header>

    

    <br/>
    <div class="row">
      <div class="col-4 col-12-mobile">
        <!-- <a href="#about" class="scrolly">아무개</a> -->
      </div>
      <div class="col-4 col-12-mobile">
        <h2>&#8220;&emsp;<a href="https://namu.wiki/w/%EC%B2%9C%EA%B2%BD%EC%9E%90" class="scrolly" target="_blank">천경자</a>&emsp;&#8222;</h2><br/>
        <img src="/static/img/chun.jpeg" alt=""><br/>
        <h1>1924 ~ 2015</h1>
      </div>
      <div class="col-4 col-12-mobile main_contents">
        <!-- <a href="#about" class="scrolly">홍길동</a> -->
        <br/><br/><br/><br/>
      </div>
    </div>
    <br/>
    <br/>

    <div class="row">
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a class="image fit"><img src="data:image/png;base64, {{ art1 }}" alt="" /></a>
          <header>
            <h3>천경자 작가의 총 작품<br/>945개 중 경매된 886개의<br/>가격과 해당 날짜 데이터 시각화</h3>
          </header>
          <br/>
          <header>
            <img src="/static/img/chunimg.jpg" alt="">
            <h3>천경자 작가의 대표작 ' 초원 '</h3>
          </header>
        </article>
        
      </div>
      
      <div class="col-8 col-12-mobile main_contents">
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        <div class="row">
          
          <div class="col-6 col-12-mobile">
            <article class="item">
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
            </article>
          </div>
          <div class="col-6 col-12-mobile notheader">
            <article class="item">
            <a class="image fit"><img src="data:image/png;base64, {{ art2 }}" alt="" /></a>
            <header>
              <h3>천경자 작가의 총 작품<br/>945개 중 경매된 886개 중<br/>년도 별 가장 높은 거래<br/>가격과 해당 날짜 데이터 시각화</h3>
            </header>
            </article>
          </div>
        </div>
      </div>
    </div>


    <br/><br/><br/>


    <h2>&#8220;&emsp; <a class="scrolly">전시회</a> &emsp;&#8222;</h2> 
    
    <br/><br/><br/>

    <div class="row">
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a class="image fit"><img src="data:image/png;base64, {{ insta }}" alt="" /></a>
          <header>
            <h3>'춤' 검색 단어 빈도 수<br/>데이터 시각화</h3>
          </header>
        </article>
      </div>
      <div class="col-8 col-12-mobile main_contents">
        <article class="item">
          <p>
            '춤' 으로 검색한 결과의 뉴스를 총 1500개<br/>
             수집하여, 뉴스 기사의 문장 그리고 단어들의 정규표현식을 이용해서 한글의 명사만 추출하는 전처리를 거친 후
             데이터의 단어 빈도 수를 ' 
             <a href="https://www.wordclouds.com/" class="scrolly" target="_blank">워드클라우드</a> 
             ' 로
              시각화한 결과
          </p>
        </article>
        
      </div>
    </div>
  </div>
</section>