<section id="portfolio" class="two">
  <div class="container">

    <header>
      <h2>Dance</h2>
    </header>

    <p>네이버 뉴스에서 키워드 분석<br/>'스트리트-우먼파이터'이후에, 우리나라 사람들의 춤에대한 사회적 인식변화</p>

    <div class="row">
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a href="/" class="image fit"><img src="/static/img/duck4.png" alt="" /></a>
          <header>
            <h3>Ipsum Feugiat</h3>
          </header>
        </article>
        <p>네이버 뉴스에서 키워드 분석<br/>'스트리트-우먼파이터'이후에, 우리나라 사람들의 춤에대한 사회적 인식변화</p>
      </div>
      <div class="col-4 col-12-mobile">
      </div>
      <div class="col-4 col-12-mobile">
        <article class="item">
          <p>네이버 뉴스에서 키워드 분석<br/>'스트리트-우먼파이터'이후에, 우리나라 사람들의 춤에대한 사회적 인식변화</p>
          <a href="/" class="image fit"><img src="/static/img/duck4.png" alt="" /></a>
          <header>
            <h3>Orci Convallis</h3>
          </header>
        </article>
      </div>
    </div>

  </div>
</section>