<section id="portfolio" class="two">
  <div class="container">

    <header>
      <h2>"<a class="scrolly"> Dance </a>"</h2>
    </header>

    <h1>'춤' 에 대한 뉴스기사 키워드 분석을 통해
      <br/>
      작년 한해 가장 이슈였던
      <br/>
      <h3>' <a href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EC%8A%A4%ED%8A%B8%EB%A6%BF+%EC%9A%B0%EB%A8%BC+%ED%8C%8C%EC%9D%B4%ED%84%B0&oquery=%EC%8A%A4%EC%9A%B0%ED%8C%8C&tqi=hOXU7lprvTVssa%2FQbDsssssss3R-317090" class="scrolly" target="_blank">스트릿 우먼 파이터</a> '</h3> 
      우리나라 사람들의 '춤' 에 대한 사회적 인식변화
    </h1>

    <br/>
    <br/>

    <div class="row">
      <div class="col-4 col-12-mobile">
        <article class="item">
          <a class="image fit"><img src="/static/img/duck4.png" alt="" /></a>
          <header>
            <h3>'춤' 검색 단어 빈도 수<br/>데이터 시각화</h3>
          </header>
        </article>
        <p>
          '춤' 으로 검색한 결과의 뉴스를 총 1500개<br/>
           수집하여, 뉴스 기사의 문장 그리고 단어들의 정규표현식을 이용해서 한글의 명사만 추출하는 전처리를 거친 후
           데이터의 단어 빈도 수를 ' 
           <a href="https://www.wordclouds.com/" class="scrolly" target="_blank">워드클라우드</a> 
           ' 로
            시각화한 결과
        </p>
      </div>
      
      <div class="col-8 col-12-mobile main_contents">
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
        <div class="row">
          <div class="col-6 col-12-mobile">
            <article class="item">
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
              본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용
            </article>
          </div>
          <div class="col-6 col-12-mobile notheader">
            <article class="item">
            <a class="image fit"><img src="/static/img/duck4.png" alt="" /></a>
            <header>
              <h3>어떤 자료의 대한<br/>데이터 시각화</h3>
            </header>
            네이버 뉴스에서 키워드 분석<br/>'스트리트-우먼파이터'이후에, 우리나라 사람들의 춤에대한 사회적 인식변화
            </article>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>