<section id="top" class="one dark cover">
  <div class="container">

    <header>
      <h2 class="alt">와이즈넛 2기<br/><br/> <strong>문화 예술 산업에 대한 데이터 시각화</strong><br/>
        Visualizing Data on the Arts and Culture Industry <br/><br/>
      </h2>
    </header>
    <body>
      이슬 이시현 이지현 최유진
    </body>
    <footer>
      {% if session.email %}
        <a href="#portfolio" class="button scrolly">Start</a>
      {% else %}
        <a href="#portfolio" class="button scrolly">If you want see more...</a>
      {% endif %}
    </footer>

  </div>
</section>