<nav id="nav">
	<ul>
		<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>	
		<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-running">Dance</span></a></li>
		<li><a href="#about" id="about-link"><span class="icon solid fa-paint-brush">Art</span></a></li>		
		<li><a href="#contact" id="contact-link"><span class="icon solid fa-book">Book</span></a></li>			
	</ul>
</nav>
<nav id="nav">
	<ul class="na">
		<li><a aria-disabled="true"><span class="icon solid fa-smile-beam">Today&emsp;&emsp;{{cnt}} </span></a></li>
		<br/>
		<li><a aria-disabled="true"><span class="icon solid fa-user">{{info}}</span></a></li>
		<li><a href="/logout"><span class="icon solid fa-sign-out-alt">Logout</span></a></li>
	</ul>
</nav>