{% extends 'base.html' %}
{% block content %}
<form id="signupcss" action='/signup' method='POST'>
	<h1>회원가입</h1>
	<input class="form-control" type="email" name="email" placeholder="이메일"/>
	<input class="form-control"  type="password" name="pw" autoComplete="on" placeholder="비밀번호"/>
	<input class="form-control"  type="password" name="pw2" autoComplete="on" placeholder="비밀번호확인"/>
  <input class="form-control" type="text" name="birth" placeholder="생년월일(예 990101)"/>
	<label><input type="radio" name="sex" value=1 placeholder="man" checked/>남자</label>
  <label><input type="radio" name="sex" value=2 placeholder="woman"/>여자</label>
	<button class="form-control btn-dark" type="submit">회원가입</button>
</form>
{% endblock content %}