#content{
  padding-top: 60px;
  padding-bottom: 70px;
}

/* signin page */
#signincss{
  padding-top: 6vw;
  padding-left: 40vw;
  padding-right: 40vw;
  padding-bottom: 5vw;
}
#signincss input{
  width: 20vw;
  font-size: 1.5vw;
}
#signincss button{
  width: 20vw;
  font-size: 1.5vw;
  margin-top: 2vw;
  margin-bottom: 1vw;
}
#signincss p{
  float: left;
  margin-right: 1vw;
}
#signincss h1{
  font-size: 3vw;
}
#signincss p, a{
  font-size: 0.8vw;
}

/* signup page */
#signupcss{
  padding-top: 6vw;
  padding-left: 40vw;
  padding-right: 40vw;
  padding-bottom: 5vw;
}
#signupcss > input{
  width: 20vw;
  font-size: 1.5vw;
}
#signupcss > label{
  width: 5vw;
  font-size: 1.5vw;
  margin-left: 3.5vw;
}
#signupcss > label > input[type='radio']{
  width: 1.1vw;
  height: 1.1vw;
}
#signupcss > label > input[type='radio']:checked{
  background-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 100%;
}
#signupcss button{
  width: 20vw;
  font-size: 1.5vw;
  margin-top: 2vw;
  margin-bottom: 1vw;
}
#signupcss h1{
  font-size: 3vw;
}
