@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Do+Hyeon&display=swap');

.navbar-brand{
  font-family: 'Arvo', serif;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2vw;
}
.nav-link{
  font-family: 'Arvo', serif;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5vw;
}